<div id="<%= dom_id invite %>">
  <p>
    <strong>Invite user:</strong>
    <%= invite.invite_user_id %>
  </p>

  <p>
    <strong>Inveite group:</strong>
    <%= invite.inveite_group_id %>
  </p>

</div>
