<div id="<%= dom_id p_page %>">
  <p>
    <strong>Title:</strong>
    <%= p_page.title %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= p_page.book_id %>
  </p>

  <p>
    <strong>Writer:</strong>
    <%= p_page.writer_id %>
  </p>

</div>
