<div id="<%= dom_id q_page %>">
  <p>
    <strong>Title:</strong>
    <%= q_page.title %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= q_page.book_id %>
  </p>

  <p>
    <strong>Writer:</strong>
    <%= q_page.writer_id %>
  </p>

</div>
