<h1>Editing q page</h1>

<%= render "form", group:@group,book:@book,q_page: @q_page %>

<br>

<div>
  <%= link_to "Show this q page", @q_page %> |
  <%= link_to "Back to q pages", q_pages_path %>
</div>
