

<div class="contents">
    <!-- サイドバー -->
    <div class="sidebar">
        <div><%= render 'home_pages/side' %></div>
    </div>
    
    <!-- メインコンテンツ -->
    <div class="main-content">
        <h1>メインコンテンツ</h1>
    </div>
</div>





