

<div class="contents">
    <!-- サイドバー -->
    <div class="sidebar">
        <div><%= render 'side' %></div>
    </div>
    
    <!-- メインコンテンツ -->
    <div class="main-content">
    <div><%= render 'main' %></div>
    </div>
</div>





