<h1>Editing book</h1>

<%= render "form",group:@group, book: @book %>

<br>
<div>
  <%= link_to "Destroy this book", group_book_path(id: @book.id, group_id: @group.id),data: { turbo_method: :delete } %>
  <br>
  
</div>
