<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <p>
      <%= render book %>
      <%= link_to "Show this book", group_book_path(@group,book) %>
    </p>
  <% end %>
</div>

<%= link_to "Bookの追加", new_group_book_path(@group) %>
