@import "bootstrap";

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include clearfix;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    .form-control {
        color: red;
    }
}



.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

.contents {
    display: flex;
    justify-content:flex-start; 
}

/* サイドバー */
.sidebar {
    background-color: #f0f0f0;
    width:  250px;
    padding-left: 10px;
}

/* メインコンテンツ */
.main-content {
    flex: 1; /* メインコンテンツが残りのスペースを占有 */
    background-color: #ffffff;
    padding-left: 10px;
    white-space: nowrap;
    height: 100vh;
    overflow-y: scroll;
}

//画像全般
.image{
    width: 200px;
}

/* ログイン前 */
.bf-login{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;

    background-color: rgb(93, 114, 182);
}
.bf-login_main{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    text-align: center;
    color: #f0f0f0;
}

/* signup,loginフォーム中央揃え */
.form-align-center{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
}
.form-align-center_main{
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

/* メインコンテンツ上部、ページの階層表示 */
.breadcrumb{
    ol{
        font-size: 24px;
    }
}